@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
  margin: 0;
}

@layer utilities {
  .bg-grid {
    background-size: 20px 20px;
    background-image: linear-gradient(to right, #f0f0f0 1px, transparent 1px),
      linear-gradient(to bottom, #f0f0f0 1px, transparent 1px);
  }
}

.canvas-bg {
  background-image: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.07) 1px,
    transparent 0
  );
  background-size: 18px 18px;
}
